@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900; /* Default light mode styles */
  }
  html.dark body {
    @apply bg-[#171d29] text-white; /* Dark mode styles */
  }
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  45% { transform: rotate(14deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.wave-hand {
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
